<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xmlns:context="http://www.springframework.org/schema/context"
	     xsi:schemaLocation="
	     http://www.springframework.org/schema/beans
	      http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
            http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	 <!-- 当前Spring支持注解 -->
	 <context:annotation-config/>
	 <!-- 设置当前项目的根包 -->
	 <context:component-scan base-package="com.hltc" />
	 
	<!-- 配置数据源 -->
	<!-- 
	<bean id="MySqlDataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://kuaikuai.mysql.rds.aliyuncs.com:3306/maitian?useUnicode=true&amp;characterEncoding=utf-8">
		</property>
		
		<property name="username" value="chenhengbin"></property>
		<property name="password" value="chen6581669chen"></property>
	</bean>
	 -->
	<!-- 配置数据源结束 -->
	
	<!-- 配置sessionFactory -->
	 <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		 <property name="configLocation">
		 	<value>classpath:hibernate.cfg.xml</value>
		 </property>
	 </bean>
	 
	 

	<!-- 事务管理配置  -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">  
		<property name="sessionFactory">  
			<ref local="sessionFactory"/>  
		</property>  
	</bean>
	
	<bean id="stringConverter"
        class="org.springframework.http.converter.StringHttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/plain;charset=UTF-8</value>
                <value>application/json;charset=utf-8</value>
            </list>
        </property>
    </bean>
    
    <!-- 用于将对象转换为 JSON  -->
    <bean id="jsonConverter"
        class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"></bean>
    <bean
        class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="stringConverter" />
                <ref bean="jsonConverter" />
            </list>
        </property>
    </bean>
    
</beans>